<div
  aria-label="<%= _('Example') %>"
  aria-labelled-by="<%= _('List with three items') %>"
  aria-placeholder="<%= _('Testing one') %>"
  aria-roledescription="Testing two"
  aria-valuetext="Bulbasaur"
  aria-description="Charmander"
  aria-describedby="Squirtle"><%= do_not_translate %></div>
