<div
  aria-label="Example"
  aria-labelled-by="List with three items"
  aria-placeholder="Testing one"
  aria-roledescription="Testing two"
  aria-valuetext="Bulbasaur"
  aria-description="Charmander"
  aria-describedby="Squirtle">Blah!</div>
